In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import requests

%matplotlib inline

In [245]:
trip = pd.read_csv('202005-baywheels-tripdata.csv')

In [246]:
df = pd.read_csv('202005-baywheels-tripdata.csv')

In [247]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,is_equity
0,BA4B4D93677877E8,electric_bike,18/05/2020 22:16,18/05/2020 22:28,NaN,NaN,NaN,NaN,37.3443,-121.9218,37.3443,-121.9217,casual,False
1,92634E825C7303CC,electric_bike,19/05/2020 16:57,19/05/2020 17:29,NaN,NaN,NaN,NaN,37.7286,-122.4921,37.7154,-122.4854,casual,False
2,1FCDD14C62521CC1,electric_bike,18/05/2020 20:08,18/05/2020 20:14,NaN,NaN,Webster St at Clay St,492.0,37.7919,-122.4174,37.7906,-122.4325,casual,False
3,3A5CEC684CA9FA18,electric_bike,19/05/2020 14:05,19/05/2020 14:14,NaN,NaN,NaN,NaN,37.7557,-122.4165,37.7681,-122.4266,casual,False
4,1FF95A9C2D1ED7F8,electric_bike,10/05/2020 17:45,10/05/2020 18:29,Pier 1/2 at The Embarcadero,12.0,NaN,NaN,37.7964,-122.3946,37.7780,-122.4144,casual,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138246,BACC41F140A7114A,electric_bike,10/05/2020 17:26,10/05/2020 17:46,Funston Ave at Fulton St,485.0,Dolores St at 15th St,96.0,37.7734,-122.4713,37.7662,-122.4267,casual,False
138247,64F4C06CB79B6205,electric_bike,30/05/2020 17:40,30/05/2020 17:47,NaN,NaN,NaN,NaN,37.7516,-122.4309,37.7353,-122.4227,casual,False
138248,C38F43B3BF11399F,electric_bike,31/05/2020 12:34,31/05/2020 14:42,Broderick St at Oak St,71.0,NaN,NaN,37.7730,-122.4391,37.7974,-122.4331,casual,False
138249,9C53113CA86194C5,electric_bike,30/05/2020 17:27,30/05/2020 17:46,NaN,NaN,NaN,NaN,37.7883,-122.4090,37.7591,-122.4253,casual,False
138250,6E047EDBF933A50B,electric_bike,31/05/2020 13:49,31/05/2020 14:10,NaN,NaN,NaN,NaN,37.7909,-122.4392,37.7909,-122.4393,casual,False

In [248]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138251 entries, 0 to 138250
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             138251 non-null  object
 1   rideable_type       138251 non-null  object
 2   started_at          138251 non-null  object
 3   ended_at            138251 non-null  object
 4   start_station_name  87315 non-null   object
 5   start_station_id    87315 non-null   float64
 6   end_station_name    84779 non-null   object
 7   end_station_id      84779 non-null   float64
 8   start_lat           138251 non-null  float64
 9   start_lng           138251 non-null  float64
 10  end_lat             138027 non-null  float64
 11  end_lng             138027 non-null  float64
 12  member_casual       138251 non-null  object
 13  is_equity           138251 non-null  bool
dtypes: bool(1), float64(6), object(7)
memory usage: 13.8+ MB

In [249]:
# Convert the trip start and end times to timestamp datatype
trip.started_at = pd.to_datetime(trip.started_at, format = "%d/%m/%Y %H:%M")
trip.ended_at = pd.to_datetime(trip.ended_at, format = "%d/%m/%Y %H:%M")

In [250]:
# Make some of the column headings more descriptive
trip.rename({'rideable_type': 'bike_type', 'member_casual': 'user_type',
             'started_at': 'start_time', 'ended_at': 'end_time'}, axis=1, inplace=True)

In [251]:
# Making a concise table in which the visualizations would be based on
trip = trip[['bike_type', 'start_time', 'end_time', 'user_type']]

In [252]:
# Calculating the time spent on each trip in minutes
trip_diff = trip['end_time'] - trip['start_time']
trip['trip_duration'] = trip_diff /np.timedelta64(1,'m')

In [253]:
trip

,bike_type,start_time,end_time,user_type,trip_duration
0,electric_bike,2020-05-18 22:16:00,2020-05-18 22:28:00,casual,12.0
1,electric_bike,2020-05-19 16:57:00,2020-05-19 17:29:00,casual,32.0
2,electric_bike,2020-05-18 20:08:00,2020-05-18 20:14:00,casual,6.0
3,electric_bike,2020-05-19 14:05:00,2020-05-19 14:14:00,casual,9.0
4,electric_bike,2020-05-10 17:45:00,2020-05-10 18:29:00,casual,44.0
...,...,...,...,...,...
138246,electric_bike,2020-05-10 17:26:00,2020-05-10 17:46:00,casual,20.0
138247,electric_bike,2020-05-30 17:40:00,2020-05-30 17:47:00,casual,7.0
138248,electric_bike,2020-05-31 12:34:00,2020-05-31 14:42:00,casual,128.0
138249,electric_bike,2020-05-30 17:27:00,2020-05-30 17:46:00,casual,19.0
138250,electric_bike,2020-05-31 13:49:00,2020-05-31 14:10:00,casual,21.0

In [254]:
# Observing the trip duration statistics
trip.trip_duration.describe()

count    138251.000000
mean         28.987508
std         275.323637
min          -1.000000
25%           7.000000
50%          14.000000
75%          27.000000
max       34350.000000
Name: trip_duration, dtype: float64

> Phew! A negative min value? We would explore further on this. The max value of 34350 suggests an outlier as the third quartile is just 27.

In [255]:
# Poking the data for insight into the negative min value
trip.query('trip_duration < 0')

,bike_type,start_time,end_time,user_type,trip_duration
20112,docked_bike,2020-05-22 16:46:00,2020-05-22 16:45:00,member,-1.0
20775,docked_bike,2020-05-04 19:37:00,2020-05-04 19:36:00,casual,-1.0
23760,docked_bike,2020-05-17 13:12:00,2020-05-17 13:11:00,casual,-1.0
39596,docked_bike,2020-05-17 13:10:00,2020-05-17 13:09:00,casual,-1.0
43347,docked_bike,2020-05-02 12:05:00,2020-05-02 12:04:00,casual,-1.0
46432,docked_bike,2020-05-06 19:57:00,2020-05-06 19:56:00,member,-1.0
46433,docked_bike,2020-05-17 19:42:00,2020-05-17 19:41:00,member,-1.0
54855,docked_bike,2020-05-17 13:04:00,2020-05-17 13:03:00,member,-1.0
55571,docked_bike,2020-05-26 16:42:00,2020-05-26 16:41:00,member,-1.0
55636,docked_bike,2020-05-30 10:16:00,2020-05-30 10:15:00,member,-1.0
56817,docked_bike,2020-05-28 12:07:00,2020-05-28 12:06:00,member,-1.0
66024,docked_bike,2020-05-11 18:13:00,2020-05-11 18:12:00,member,-1.0
66026,docked_bike,2020-05-15 21:11:00,2020-05-15 21:10:00,member,-1.0
66124,docked_bike,2020-05-22 20:29:00,2020-05-22 20:28:00,member,-1.0
66164,docked_bike,2020-05-19 20:38:00,2020-05-19 20:37:00,member,-1.0
66238,docked_bike,2020-05-18 21:44:00,2020-05-18 21:43:00,member,-1.0
66256,docked_bike,2020-05-18 19:24:00,2020-05-18 19:23:00,member,-1.0
66533,docked_bike,2020-05-06 19:21:00,2020-05-06 19:20:00,member,-1.0
66545,docked_bike,2020-05-06 10:23:00,2020-05-06 10:22:00,member,-1.0
66560,docked_bike,2020-05-06 20:14:00,2020-05-06 20:13:00,member,-1.0
66924,docked_bike,2020-05-02 08:54:00,2020-05-02 08:53:00,member,-1.0
76825,docked_bike,2020-05-22 16:43:00,2020-05-22 16:42:00,member,-1.0
77219,docked_bike,2020-05-14 19:05:00,2020-05-14 19:04:00,casual,-1.0
87873,docked_bike,2020-05-07 18:57:00,2020-05-07 18:56:00,member,-1.0
87875,docked_bike,2020-05-02 12:20:00,2020-05-02 12:19:00,member,-1.0
87879,docked_bike,2020-05-07 10:28:00,2020-05-07 10:27:00,member,-1.0
87884,docked_bike,2020-05-08 20:31:00,2020-05-08 20:30:00,member,-1.0
87896,docked_bike,2020-05-07 18:16:00,2020-05-07 18:15:00,member,-1.0
88076,docked_bike,2020-05-17 18:17:00,2020-05-17 18:16:00,member,-1.0
88077,docked_bike,2020-05-17 18:38:00,2020-05-17 18:37:00,member,-1.0
88081,docked_bike,2020-05-08 20:16:00,2020-05-08 20:15:00,member,-1.0
88086,docked_bike,2020-05-16 19:04:00,2020-05-16 19:03:00,member,-1.0
88216,docked_bike,2020-05-09 10:36:00,2020-05-09 10:35:00,member,-1.0
88221,docked_bike,2020-05-07 17:18:00,2020-05-07 17:17:00,member,-1.0
88239,docked_bike,2020-05-05 17:34:00,2020-05-05 17:33:00,member,-1.0
88330,docked_bike,2020-05-01 13:14:00,2020-05-01 13:13:00,member,-1.0
88474,docked_bike,2020-05-18 12:51:00,2020-05-18 12:50:00,member,-1.0
88480,docked_bike,2020-05-07 14:11:00,2020-05-07 14:10:00,member,-1.0
88531,docked_bike,2020-05-08 13:00:00,2020-05-08 12:59:00,member,-1.0
88645,docked_bike,2020-05-14 11:17:00,2020-05-14 11:16:00,member,-1.0
88650,docked_bike,2020-05-05 15:09:00,2020-05-05 15:08:00,member,-1.0
88810,docked_bike,2020-05-14 17:57:00,2020-05-14 17:56:00,member,-1.0
88881,docked_bike,2020-05-07 12:11:00,2020-05-07 12:10:00,member,-1.0
88882,docked_bike,2020-05-11 10:29:00,2020-05-11 10:28:00,member,-1.0
88885,docked_bike,2020-05-06 18:15:00,2020-05-06 18:14:00,member,-1.0
91984,docked_bike,2020-05-08 19:25:00,2020-05-08 19:24:00,member,-1.0

> The exploration above suggests that the negative value is most probably an error due to swapping the start and end time. So, we would effect the correction.

In [256]:
time_error = trip.query('trip_duration < 0')
for i, row in time_error.iterrows():
# Swap the columns
    trip.iloc[i,1] = row.end_time
    trip.iloc[i,2] = row.start_time

#Recalculating the trip duration
trip_diff = trip['end_time'] - trip['start_time']
trip['trip_duration'] = trip_diff /np.timedelta64(1,'m')

In [257]:
# Confirm the swap was corrected done.
trip.query('trip_duration < 0')

Empty DataFrame
Columns: [bike_type, start_time, end_time, user_type, trip_duration]
Index: []

In [295]:
# Let's observe the suspected outlier
trip.query('trip_duration == 34350')

,bike_type,start_time,end_time,user_type,trip_duration,start_time_weekday,start_time_hour,end_time_hour,start_day_period
24524,docked_bike,2020-05-02 20:10:00,2020-05-26 16:40:00,casual,34350.0,Saturday,20,16,night

> Wow! 24 days on a trip of riding bike within a city? Sounds incredible. However, we would allow this as we have no information on the trip.

In [287]:
# Creating more table data from the trip start and end times for visualization

trip['start_time_weekday'] = trip['start_time'].dt.strftime('%A')

trip['start_time_hour'] = trip['start_time'].dt.hour
trip['end_time_hour'] = trip['end_time'].dt.hour

In [288]:
# Let's observe the added table data
trip

,bike_type,start_time,end_time,user_type,trip_duration,start_time_weekday,start_time_hour,end_time_hour,start_day_period
0,electric_bike,2020-05-18 22:16:00,2020-05-18 22:28:00,casual,12.0,Monday,22,22,night
1,electric_bike,2020-05-19 16:57:00,2020-05-19 17:29:00,casual,32.0,Tuesday,16,17,afternoon
2,electric_bike,2020-05-18 20:08:00,2020-05-18 20:14:00,casual,6.0,Monday,20,20,night
3,electric_bike,2020-05-19 14:05:00,2020-05-19 14:14:00,casual,9.0,Tuesday,14,14,afternoon
4,electric_bike,2020-05-10 17:45:00,2020-05-10 18:29:00,casual,44.0,Sunday,17,18,afternoon
...,...,...,...,...,...,...,...,...,...
138246,electric_bike,2020-05-10 17:26:00,2020-05-10 17:46:00,casual,20.0,Sunday,17,17,afternoon
138247,electric_bike,2020-05-30 17:40:00,2020-05-30 17:47:00,casual,7.0,Saturday,17,17,afternoon
138248,electric_bike,2020-05-31 12:34:00,2020-05-31 14:42:00,casual,128.0,Sunday,12,14,afternoon
138249,electric_bike,2020-05-30 17:27:00,2020-05-30 17:46:00,casual,19.0,Saturday,17,17,afternoon
138250,electric_bike,2020-05-31 13:49:00,2020-05-31 14:10:00,casual,21.0,Sunday,13,14,afternoon

In [282]:
# sectioning the trip based on the period of the day
# {morning: 4-11, afternoon: 12-19, night: 20-23-3}
# The 'night1' label was to capture the other night range, which was corrected in the next cell
trip['start_day_period'] = pd.cut(x = trip['start_time_hour'], bins=[-1,3,11,19,23], 
                            labels=['night', 'morning', 'afternoon', 'night1'])

In [283]:
# change the night1 variable to night
trip['start_day_period'] = trip['start_day_period'].apply(lambda x: x.replace('night1','night'))

In [289]:
# checking to ensure it was correctly replaced
trip['start_day_period'].unique()

array(['night', 'afternoon', 'morning'], dtype=object)

In [297]:
# Change the user_type and bike_type to category dtype
trip.user_type = trip.user_type.astype('category')
trip.bike_type = trip.bike_type.astype('category')

In [298]:
trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 138251 entries, 0 to 138250
Data columns (total 9 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   bike_type           138251 non-null  category
 1   start_time          138251 non-null  datetime64[ns]
 2   end_time            138251 non-null  datetime64[ns]
 3   user_type           138251 non-null  category
 4   trip_duration       138251 non-null  float64
 5   start_time_weekday  138251 non-null  object
 6   start_time_hour     138251 non-null  int64
 7   end_time_hour       138251 non-null  int64
 8   start_day_period    138251 non-null  object
dtypes: category(2), datetime64[ns](2), float64(1), int64(2), object(2)
memory usage: 7.6+ MB

In [299]:
# save the cleaned data
trip.to_csv('trip_master_clean.csv', index = False)